.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 5em;
    margin-left: 5em;
    width: 100%;
    top: 0;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__link {
    color: rgb(35, 46, 25);
}
   
.navbar__link:hover {
    color: rgba(35, 46, 25, 0.575);
}
